body
{
  background-size: cover;
  background-position:center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status, #number_of_objects, #start_model
{
font-size: 18px;
}

canvas
{
  margin-top:100px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px grey;
}

span {
  color : black;
  font-size : 13px;
}